@tailwind base;
@tailwind components;
@tailwind utilities;

.heroBg {
  background-image: url('../../hero_background.svg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}


.fade-in {
  transition: opacity 1.5s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease;
}


@media screen and (max-width: 767px) {
  .heroBg {
    background-image: url('../../hero_background_rotate.svg');
    background-repeat: no-repeat, repeat;
    background-size: cover, cover ;
  }
}

